
#first_segment {
    width: 6.25%;
}

#second_segment {
    width: 6.25%;
}

#third_segment {
    width: 12.5%;
}

#fourth_segment {
    width: 18.75%;
}

#fifth_segment {
    width: 25%;
}

#sixth_segment {
    width: 31.25%;
}